// Testominals gradient animation
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Fade in and up animation
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 7%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

// Reveal items animation
.reveal-item {
  opacity: 0;
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  transform: translate3d(0, 7%, 0);

  &--is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
