/**
*
* * Everything that controls typography can be found in this file all in one place
* TODO: Include custom downloaded font paths below --> Best for speed optimization
*
*/

// * --------| Font variables |-------- *
$font-primary: futura-pt, sans-serif;
$font-primary-bold: futura-pt-bold, sans-serif;
$font-secondary: adobe-caslon-pro, serif;
$font-h1: 4rem;
$font-h2: 2.4rem;
$font-body: 1.2rem;
$font-icon-title: 0.8rem;
$font-icon-body: 0.8rem;

// Slider fonts
@if $slick-font-family == 'slick' {
  @font-face {
    font-family: 'slick';
    src: slick-font-url('slick.eot');
    src: slick-font-url('slick.eot?#iefix') format('embedded-opentype'),
      slick-font-url('slick.woff') format('woff'),
      slick-font-url('slick.ttf') format('truetype'),
      slick-font-url('slick.svg#slick') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

html {
  // ! Makes 1 rem = 10px ( Simplifies dealing with rem to px calcs )
  font-size: 62.5%; // 10px / 16px = 65.5%
}

h1 {
  font-family: $font-primary;
  font-size: $font-h1;
  font-weight: 100;
}

.h2__header {
  font-family: $font-secondary;
  font-size: 4.5rem;
  font-weight: 300;
  margin-bottom: 2.5rem;

  &--grey {
    color: var(--color-charcoal);
  }

  &--white {
    color: var(--color-white);
  }
}

.p__subheader {
  font-size: 2rem;
  font-weight: 100;
  font-family: $font-primary;
}

.body {
  font-size: $font-body;
}

// Icons
/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-title {
  font-family: $font-secondary;
  font-size: $font-icon-title;
}

.icon-body {
  font-size: $font-icon-body;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*
Futura PT Heavy

font-family: futura-pt, sans-serif;

font-weight: 700;

font-style: normal;


Futura PT Heavy Oblique

font-family: futura-pt, sans-serif;

font-weight: 700;

font-style: italic;


Futura PT Light Oblique

font-family: futura-pt, sans-serif;

font-weight: 300;

font-style: italic;


Futura PT Book

font-family: futura-pt, sans-serif;

font-weight: 400;

font-style: normal;


Futura PT Book Oblique

font-family: futura-pt, sans-serif;

font-weight: 400;

font-style: italic;


Futura PT Light

font-family: futura-pt, sans-serif;

font-weight: 300;

font-style: normal;


Futura PT Bold

font-family: futura-pt-bold, sans-serif;

font-weight: 700;

font-style: normal;


Futura PT Bold Oblique

font-family: futura-pt-bold, sans-serif;

font-weight: 700;

font-style: italic;
*/
