//Utility class helpers
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 3rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mt-hg {
  margin-top: 8rem;
}

.p-lg {
  margin: 10rem 0;

  @include respond(medium) {
    margin: 5rem 3rem;
  }
}

.pb-md {
  padding-bottom: 8rem !important;

  @include respond(medium) {
    padding-bottom: 5rem !important;
  }
}

//* Visibly hidden available to Srceen readers
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
