.error {
  text-align: center;

  & h2 {
    font-size: 10rem;

    @include respond(medium) {
      font-size: 5rem;
    }
  }

  & p {
    font-size: 5rem;
    line-height: 1;
  }

  & img {
    width: 100%;
  }
}
