//* About section
.about {
  width: 100%;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: minmax(50rem, 60rem) minmax(min-content, 60rem);
  grid-column-gap: 8rem;
  padding: 6rem 8rem;
  align-items: center;
  justify-content: center;
  line-height: 1;

  @include respond(large) {
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 4rem;
    grid-template-columns: minmax(min-content, 80rem);
    justify-content: center;
    grid-column-gap: 0;
    padding: 5rem 3rem;
    margin: 5rem 0;
    text-align: center;
  }

  &__logo {
    width: 100%;
    position: relative;

    @include respond(large) {
      width: 80%;
    }
  }

  &__icon {
    width: 100%;
  }

  &__tagline {
    position: absolute;
    text-indent: -9999px;
    font-family: $font-secondary;
    font-size: 2rem;
    top: 13rem;
    left: 21rem;
    line-height: 1.3;
    color: var(--color-charcoal);
  }

  &__mission {
    font-family: $font-primary;
  }

  &__mission-header {
    font-weight: 100;
    color: var(--color-blue-primary);
    font-size: 7rem;
    margin-bottom: 2rem;
  }

  &__mission-p {
  }
} //. About section

//* Partners section
.partners {
  &--narrow {
    max-width: 960px;
    margin: 0 auto;
    position: relative;

    @include respond(medium) {
      padding: 0 2rem;
    }
  }
  &__headline {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__wrapper {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;

    .slick-list {
      overflow: visible;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-black);
  }

  &__logo {
    width: 25rem;
    position: relative;
    text-align: center;
    min-height: 100px;
    display: block;

    &:hover .partners__name {
      bottom: -4.5rem;
      opacity: 1;
    }

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__name {
    font-family: $font-primary;
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease;
    opacity: 0;
  }
} //. Partners section

//* Testimonials section
.testimonials {
  background: var(--gradient-primary);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  width: 100%;
  padding: 15rem 0 25rem;

  & h2 {
    text-align: center;
    font-style: italic;
  }

  & .testimonial {
    border: 2px solid var(--color-white);
    color: var(--color-white);
    margin: 0 30vw;
    padding: 2.5rem 2rem;
    position: relative;

    @include respond(large) {
      margin: 0 2rem;
    }

    &::before {
      content: '\201C';
      position: absolute;
      top: -3rem;
      left: 0.5rem;
      line-height: 1;
      font-size: 14rem;
      font-family: sans-serif;
      color: var(--color-white);
      opacity: 0.2;
      z-index: 1;
    }

    &::after {
      content: '\201C';
      position: absolute;
      transform: rotate(180deg);
      bottom: -3rem;
      right: 0.5rem;
      line-height: 1;
      font-size: 14rem;
      font-family: sans-serif;
      color: var(--color-white);
      opacity: 0.2;
      z-index: 1;
    }

    & blockquote {
      font-style: italic;
      font-size: 1.5rem;

      @include respond(large) {
        font-size: 2.5rem;
      }
    }

    & footer {
      font-style: normal;
      font-size: 1.2rem;
      margin-top: 1rem;

      @include respond(large) {
        font-size: 2rem;
      }
    }
  }
} //. Testimonials section

//* Home Resources section
.home-resources {
  &__header {
    width: 100%;
    margin-top: -17rem;
    background-color: var(--color-grey-light);
    text-align: center;
    padding: 5rem 8rem;
    box-shadow: 0px 0px 3rem rgba(var(--color-black-a), 0.2);
  }

  &__subheading {
    margin-bottom: 4.5rem;
  }

  &__cta {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    text-align: center;
    margin-top: 10rem;

    @include respond(medium) {
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 3rem;
      grid-template-columns: minmax(min-content, 45rem);
      grid-column-gap: 0;
      justify-content: center;
    }

    .resource {
      color: var(--color-charcoal);
      text-decoration: none;
      font-family: $font-primary;
      font-style: normal;
      padding: 5rem 2rem;
      border-radius: 0.5rem;
      background-color: transparent;
      transition: background-color 0.5s ease;

      &:hover .resource__icon {
        transform: scale(1.4);
      }

      &:hover {
        background-color: var(--color-grey-light);
      }

      &__icon {
        width: 3rem;
        height: 3rem;
        fill: var(--color-charcoal);
        margin-bottom: 2rem;
        transform-origin: 50% 50%;
        transition: all 0.5s;
      }

      &__best-practice-title {
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      &__resource-title {
      }
    }
  }
} //. Home Resources section
