.general {
  position: relative;
  font-family: $font-primary;

  &--content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
  }

  &--single {
    max-width: 1300px;
    background-color: var(--color-grey-light);
    margin: 10rem auto;
    padding: 5rem;
    position: relative;

    p {
      font-weight: 100;
      font-size: 2rem;
    }
  }

  &--single-narrow {
    max-width: 96rem;
    background-color: var(--color-grey-light);
    margin: 10rem auto;
    padding: 5rem;
    position: relative;

    @include respond(medium) {
      padding: 3rem;
      margin: 5rem auto;
    }

    p {
      font-weight: 100;
      font-size: 2rem;
    }
  }

  &--narrow {
    max-width: 960px;
    margin: 0 auto;
    padding: 8rem 2rem;
    position: relative;
  }
}
