//* Individual partner post styles
.partner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 5rem;

  @include respond(small) {
    grid-template-columns: minmax(min-content, 100%);
    grid-template-rows: minmax(min-content, 5rem) auto;
  }

  &__logo {
    width: 100%;
    pointer-events: none;

    @include respond(small) {
      width: 70%;
      margin: 0 auto 2rem;
    }
  }

  &__content {
    background-color: var(--color-grey-light);
    padding: 5rem;

    p,
    ul,
    a {
      font-weight: 100;
      font-size: 2rem;
    }

    a {
      position: relative;
      color: var(--color-blue-primary);
      text-decoration: none;

      // Underline hover from middle
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--color-blue-primary);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      } //. Underline hover from middle
    }

    ul {
      padding-left: 2rem;
    }
  }
}
