//* Trainings list
.trainings {
  &__section {
    max-width: 960px;
    margin: 0 auto;
    padding: 8rem 2rem 0;
    position: relative;
  }

  &__no-show,
  &__link {
    font-family: $font-primary;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    margin: 5rem 0;

    & a {
      text-decoration: none;
      font-weight: 600;
      color: var(--color-blue-primary);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-black);
      }
    }
  }

  &__featured {
    position: relative;
    margin: 0 0 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5rem;
    justify-content: center;
    background-color: var(--color-grey-light);
    padding: 3rem;

    @include respond(medium) {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: minmax(min-content, 50rem);
      grid-row-gap: 3rem;
      grid-column-gap: 0;
    }

    & .trainings__figure {
      position: relative;
    }

    & .trainings__img {
      width: 100%;
    }

    & .trainings__date {
      position: absolute;
      top: 0;
      left: 0;
      width: 12rem;
      background-color: rgba(var(--color-charcoal-a), 0.95);
      color: var(--color-white);
      font-family: $font-primary;
      padding: 1.5rem;
      line-height: 1;
      text-align: center;
    }
    & .trainings__month {
      display: block;
      font-size: 4rem;
      font-weight: 100;
    }
    & .trainings__day {
      display: block;
      font-size: 4.8rem;
    }

    & .trainings__content {
    }

    & .trainings__heading {
      margin-bottom: 2rem;
    }

    & .trainings__description {
      font-family: $font-primary;
      font-weight: 100;
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__normal {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    & .trainings__wrapper {
      display: flex;
      padding: 1rem;

      width: 33.3333%;

      @include respond(medium) {
        width: 50%;
      }

      @include respond(small) {
        width: 100%;
      }
    }

    & .trainings__card {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &:hover {
        .trainings__img {
          filter: contrast(100%);
        }
      }
    }

    & .trainings__details {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
    }

    & .trainings__heading {
      font-family: $font-primary;
      font-size: 2rem;
      font-weight: 400;
      color: var(--color-charcoal);
      color: var(--color-blue-primary);

      @include respond(medium) {
        font-size: 3rem;
      }
    }

    & .trainings__img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      filter: contrast(70%);
      //filter: saturate(180%);
      overflow: hidden;
      position: relative;
      transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
      &::before {
        content: '';
        display: block;
        padding-top: 56.25%; // 16:9 aspect ratio
      }
      @include respond(32aspect) {
        &::before {
          padding-top: 66.6%;
        }
      }
    }

    & .trainings__date {
      font-family: $font-primary;
      font-size: 1.5rem;

      margin-bottom: 1.5rem;
    }
    & .trainings__month {
      display: block;
      font-size: 3rem;
      font-weight: 100;

      @include respond(medium) {
        font-size: 4rem;
      }
    }
    & .trainings__day {
      display: block;
      font-size: 2.8rem;

      @include respond(medium) {
        font-size: 4.8rem;
      }
    }

    .trainings__details {
      background-color: var(--color-grey-light);
      padding: 3rem;
      text-align: left;
      color: var(--color-black);
    }

    .trainings__description {
      font-size: 1.5rem;
      font-weight: 100;
      margin-bottom: 2.5rem;

      @include respond(medium) {
        font-size: 2rem;
      }
    }
  }
} //. Trainings list

//* Training post
.training {
  &__date {
    position: absolute;
    bottom: -2.8rem;
    left: 10%;
    background-color: var(--color-charcoal);
    color: var(--color-white);
    font-family: $font-primary;
    padding: 1.5rem;
    line-height: 1;
    text-align: center;
    font-size: 3rem;

    @include respond(small) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--narrow {
    max-width: 960px;
    margin: 0 auto;
    padding: 9rem 2rem 0;
    position: relative;
  }

  &__content {
    p,
    ul,
    a {
      font-weight: 100;
      font-size: 2rem;
    }

    a {
      position: relative;
      color: var(--color-blue-primary);
      text-decoration: none;

      // Underline hover from middle
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--color-blue-primary);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      } //. Underline hover from middle
    }

    ul {
      padding-left: 2rem;
    }
  }

  &__h4 {
    margin-top: 5rem;
  }

  &__cta {
    margin-top: 4rem;
  }
} //. Training post
