//* Trainings list
.trainings {
  &__section {
    max-width: 960px;
    margin: 0 auto;
    padding: 8rem 2rem 0;
    position: relative;
  }

  &__no-show,
  &__link {
    font-family: $font-primary;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5rem;

    & a {
      text-decoration: none;
      font-weight: 600;
      color: var(--color-blue-primary);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-black);
      }
    }
  }

  &__featured {
    position: relative;
    margin: 0 0 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5rem;
    justify-content: center;

    @include respond(medium) {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: minmax(min-content, 50rem);
      grid-row-gap: 3rem;
      grid-column-gap: 0;
    }

    & .trainings__figure {
      position: relative;
    }

    & .trainings__img {
      width: 100%;
    }

    & .trainings__date {
      position: absolute;
      top: 0;
      left: 0;
      width: 12rem;
      background-color: rgba(var(--color-charcoal-a), 0.95);
      color: var(--color-white);
      font-family: $font-primary;
      padding: 1.5rem;
      line-height: 1;
      text-align: center;
    }
    & .trainings__month {
      display: block;
      font-size: 4rem;
      font-weight: 100;
    }
    & .trainings__day {
      display: block;
      font-size: 4.8rem;
    }

    & .trainings__content {
    }

    & .trainings__heading {
      margin-bottom: 2rem;
    }

    & .trainings__description {
      font-family: $font-primary;
      font-weight: 100;
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__normal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem auto;
    grid-gap: 2rem;
    width: 100%;
    justify-content: center;

    @include respond(medium) {
      grid-template-rows: auto;
      grid-template-columns: minmax(min-content, 50rem);
    }

    & .trainings__card {
      display: grid;
      grid-template-rows: repeat(2, auto);
      position: relative;
      overflow: hidden;
    }

    & .trainings__heading {
      font-family: $font-primary;
      font-size: 2rem;
      font-weight: 400;
      color: var(--color-charcoal);
      margin-bottom: 1.5rem;

      @include respond(medium) {
        font-size: 3rem;
      }
    }

    & .trainings__img {
      width: 100%;
    }

    & .trainings__date {
      position: absolute;
      width: 8rem;
      background-color: rgba(var(--color-charcoal-a), 0.95);
      color: var(--color-white);
      font-family: $font-primary;
      padding: 5%;
      line-height: 1;
      text-align: center;

      @include respond(medium) {
        width: 12rem;
      }
    }
    & .trainings__month {
      display: block;
      font-size: 3rem;
      font-weight: 100;

      @include respond(medium) {
        font-size: 4rem;
      }
    }
    & .trainings__day {
      display: block;
      font-size: 2.8rem;

      @include respond(medium) {
        font-size: 4.8rem;
      }
    }

    .trainings__details {
      background-color: var(--color-grey-light);
      padding: 3rem;
      text-align: left;
      color: var(--color-black);
    }

    .trainings__description {
      font-size: 1.5rem;
      font-weight: 100;
      margin-bottom: 2.5rem;

      @include respond(medium) {
        font-size: 2rem;
      }
    }
  }
} //. Trainings list

//* Training post
.training {
  &__content {
    & p,
    & ul,
    & ol,
    & a {
      font-weight: 100;
      font-size: 2rem;
    }
  }
} //. Training post
