/**
*
* * All variables for project can be found in this file
*
*/
// * --------| Color variables |-------- *
:root {
  --color-blue-primary: #0071bc;
  --color-red-primary: #9e005d;

  --color-lightblue-secondary: #009de2;
  --color-lightblue-secondary-a: 0, 157, 226;
  --color-darkblue-secondary: #3b4393;
  --color-darkblue-secondary-a: 59, 67, 147;
  --color-purple-secondary: #6e257e;
  --color-purple-secondary-a: #6e257e;
  --color-lightpurple-secondary: #b43c8a;
  --color-lightpurple-secondary-a: 181, 60, 138;

  --color-white: #ffffff;
  --color-white-a: 255, 255, 255;

  --color-grey: #b2b2b2;
  --color-grey-light: #edf1f5;
  --color-charcoal: #403d39;
  --color-charcoal-a: 64, 61, 57;
  --color-black: #403d39;
  --color-black-a: 26, 26, 26;

  --color-twitter-blue: #00aced;
  --color-facebook-blue: #3b5998;
  --color-linkedin-blue: #0082ca;

  --gradient-primary: linear-gradient(
    45deg,
    var(--color-red-primary),
    var(--color-blue-primary)
  );

  --gradient-secondary: linear-gradient(
    45deg,
    var(--color-blue-primary),
    var(--color-red-primary)
  );

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-large-light: 0 1rem 3rem rgba(26, 26, 26, 0.1);
}

// * --------| Slider variables |-------- *
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
$slick-font-path: './assets/fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  } @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  } @else {
    @return url($slick-font-path + $url);
  }
}
