.wp-block-button__link {
  &,
  &:link,
  &:visited {
    color: var(--color-white);
    background-image: var(--gradient-secondary);
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-family: $font-primary;
    font-weight: 100;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow-wrap: break-word;
  }

  &:hover {
    background-position: 50% 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
  }
}

.btn {
  &,
  &:link,
  &:visited {
    width: max-content;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: $font-primary;
    color: var(--color-white);
    cursor: pointer;
    text-align: center;
    background-size: 450% 150%;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    @include respond(medium) {
      padding: 1.5rem 3.5rem;
      font-size: 2rem;
    }
  }

  &--blue {
    background-image: var(--gradient-secondary);
    border: none;

    &:hover {
      background-position: 50% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
    }
  }

  &--red {
    background-image: var(--gradient-primary);
    border: none;

    &:hover {
      background-position: 50% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
    }
  }

  &--white-outline {
    background-color: rgba(var(--color-white-a), 0);
    border: 2px solid var(--color-white);

    &:hover {
      background-color: rgba(var(--color-white-a), 0.7);
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);
      color: var(--color-black);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      background-color: rgba(var(--color-white-a), 1);
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
    }

    :hover {
    }
  }
}
