//* Guetenburg buttons
.wp-block-button__link {
  &,
  &:link,
  &:visited {
    color: var(--color-white);
    background-image: var(--gradient-secondary);
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-family: $font-primary;
    font-weight: 100;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow-wrap: break-word;
  }

  &:hover {
    background-position: 50% 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
  }
}

//* Overall button styles
.btn {
  &,
  &:link,
  &:visited {
    width: max-content;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: $font-primary;
    color: var(--color-white);
    cursor: pointer;
    text-align: center;
    background-size: 450% 150%;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

    @include respond(medium) {
      padding: 1.5rem 3.5rem;
      font-size: 2rem;
    }
  }

  //* Blue button
  &--blue {
    background-image: var(--gradient-secondary);
    border: none;

    &:hover {
      background-position: 50% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
    }
  }

  .wpforms-submit{
      width: max-content!important;
      overflow: hidden!important;
      font-size: 1.5rem!important;
      font-weight: 100!important;
      font-family: $font-primary!important;
      color: var(--color-white)!important;
      cursor: pointer!important;
      text-align: center!important;
      background-size: 450% 150%!important;
      border-radius: 2px!important;
      transition: all 0.3s ease-in-out;
      padding: 1rem 3rem!important;
      text-decoration: none!important;
      text-transform: uppercase!important;
      position: relative!important;
      display: inline-block!important;
      background-image: var(--gradient-secondary)!important;
      border: none!important;
  
      &:hover {
        background-position: 50% 0;
        transition: all 0.4s ease-in-out;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);
  
        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
  
      @include respond(medium) {
        padding: 1.5rem 3.5rem;
        font-size: 2rem;
      }
    
  }

  //* Red button
  &--red {
    background-image: var(--gradient-primary);
    border: none;

    &:hover {
      background-position: 50% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
    }
  }

  //* White outline button
  &--white-outline {
    background-color: rgba(var(--color-white-a), 0);
    border: 2px solid var(--color-white);

    &:hover {
      background-color: rgba(var(--color-white-a), 0.9);
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(var(--color-black-a), 0.2);
      color: var(--color-blue-primary);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      background-color: rgba(var(--color-white-a), 1);
      transition: all 0.4s ease-in-out;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(var(--color-black-a), 0.2);
      color: var(--color-blue-primary);
    }

    :hover {
    }
  }
}
