.index {
  padding: 0 0 4rem;
  background-color: var(--color-grey-light);
  margin-bottom: 5rem;

  &__heading {
    margin-bottom: 2rem;
    padding: 3rem 2rem;
    width: 100%;
    background: var(--gradient-secondary);
    text-align: center;
    color: var(--color-white);
  }

  &__list {
    column-count: 3;
    column-gap: 2.8rem;
    padding: 1.5rem 3.5rem 0;

    @include respond(large) {
      column-count: 2;
    }

    @include respond(medium) {
      column-count: 1;
      column-gap: none;
    }
  }

  &__item {
    &::marker {
      font-size: 2rem;
    }

    &:last-of-type {
      list-style: '*  ';
    }

    &:not(:last-of-type) {
      margin-bottom: 1.8rem;
    }
  }

  &__link {
    font-family: futura-pt, sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    text-decoration: none;
    position: relative;
    color: var(--color-charcoal);

    &:hover {
      color: var(--color-blue-primary);
    }

    @include respond(medium) {
      font-size: 2.3rem;
    }

    // Underline hover from middle
    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: var(--color-blue-primary);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    } //. Underline hover from middle
  }
}
