//* Footer overall styles
.footer {
  display: grid;
  grid-template-rows: auto;

  //* Top footer section
  &__top {
    background-color: var(--color-grey-light);
    width: 100%;
    display: grid;
    grid-template-columns: minmax(45rem, 60rem) minmax(25rem, 50rem);
    gap: 5vw;
    justify-content: center;
    align-items: center;
    padding: 8rem 15vw;

    @include respond(large) {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: minmax(min-content, 50rem);
      justify-content: center;
      padding: 5rem 3rem;
    }

    & .help {
      &__header {
        margin-bottom: 2.5rem;
      }

      &__details {
        margin: -2.5rem 0 4rem 0;
        font-size: 2.5rem;
        font-family: $font-primary;
        font-weight: 100;
      }
    }

    & .contact {
      background-color: var(--color-red-primary);
      padding: 4rem;

      outline: var(--color-white) solid 3px;
      border-radius: 2px;
      color: var(--color-white);
      font-family: $font-primary;
      font-weight: 100;

      &__header {
        font-weight: 100;
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
      }

      &__details {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        @include respond(medium) {
          font-size: 2rem;
        }
      }

      &__link {
        text-decoration: none;
        color: var(--color-white);
        font-size: 1.5rem;

        @include respond(medium) {
          font-size: 2rem;
        }
      }

      &__icon {
        fill: var(--color-white);
        height: 1.2rem;
        width: 1.2rem;

        @include respond(medium) {
          height: 1.8rem;
          width: 1.8rem;
        }
      }
    }
  } //. Top footer section

  //* Main footer section
  &__main {
    background: var(--gradient-primary);
    color: var(--color-white);
    display: grid;
    grid-template-columns: minmax(20rem, 40rem) minmax(20rem, 40rem) minmax(
        20rem,
        25rem
      );
    gap: 5vw;
    padding: 10rem 10vw;
    justify-content: center;

    @include respond(large) {
      grid-template-rows: repeat(3, max-content);
      grid-template-columns: minmax(min-content, 60rem);
      gap: 3rem;
      padding: 5rem 3rem;
      text-align: center;
    }
  }
  //* Footer logo - no styles needed
  &__logo {
  } //. Footer logo - no styles needed

  //* Footer icon
  &__icon {
    width: 100%;

    @include respond(large) {
      width: 80%;
    }
  } //. Footer icon

  //* Footer disclaimer
  &__disclaimer {
    font-family: $font-primary;
    font-size: 1.8rem;
    font-weight: 100;

    @include respond(medium) {
      font-size: 2.3rem;
    }
  } //. Footer disclaimer

  //* Footer list - no styles needed
  &__list {
  } //* Footer list - no styles needed

  &__item {
    list-style-type: none;

    &:not(:last-of-type) {
      margin-bottom: 0.8rem; //Remove bottom margin of all items except the last
    }
  }
  //* Footer links
  &__link {
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: var(--color-white);
      font-size: 1.5rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      position: relative;

      @include respond(medium) {
        font-size: 2rem;
      }
    }

    // Underline hover
    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: var(--color-white);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    } //* Main footer section
  } //. Footer links

  //* Bottom Footer Section
  &__bottom {
    background-color: var(--color-charcoal);
    color: var(--color-white);
    text-align: center;
    padding: 1.5rem;
  }

  &__copyright {
    font-size: 1.3rem;
  } //. Bottom Footer Section
} //. Footer overall styles

//* Back top button
.back-top__button {
  background-color: var(--color-white);
  height: 7rem;
  width: 7rem;
  position: fixed;
  bottom: 3rem;
  right: 4vw;
  border-radius: 3px;
  z-index: 500;
  box-shadow: var(--shadow-large-light);
  text-align: center;
  cursor: pointer;
  display: grid;
  place-content: center;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(1, 0.74, 0.42, 1.21),
    opacity 0.2s ease-in-out;

  &:hover &-icon {
    transform: translateY(-4px);
  }

  &--is-visible {
    opacity: 1;
    transform: scale(1);
  }

  &-icon {
    fill: var(--color-blue-primary);
    height: 2.5rem;
    width: 2.5rem;
    transition: transform 0.2s cubic-bezier(1, 0.74, 0.42, 1.21);
  }
} //. Back top button
