//* Header Home page overall styles
.header {
  width: 100%;

  //* Header top section
  &__top {
    font-family: $font-primary;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    color: var(--color-white);
    background-image: var(--gradient-primary);
    font-weight: 100;

    &-details {
      text-align: right;
      margin-right: 5vw;

      @include respond(medium) {
        text-align: center;
        margin-right: 0;
      }

      .phone__icon {
        fill: var(--color-white);
        margin: 0 0.5rem;
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  } //. Header top section

  //* Header Menu section
  &__menu {
    width: 100%;
    padding: 1.2rem 5vw;
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, auto);

    @include respond(large) {
      padding: 1.2rem;
    }
  } //. Header Menu section

  //* Header main content section
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } //. Header main content section

  //* Header heading section
  &__logo-wrapper {
  } //* Header heading section

  //* Header logo
  &__logo {
    width: 15rem;
    pointer-events: none;

    @include respond(medium) {
      width: 20rem;
      margin-left: 4vw;
    }

    @include respond(small) {
      //margin-left: 3rem;
    }
  } //. Header logo

  //* Hidden header title
  &__title {
    position: absolute;
    text-indent: -9999px;
  } //.Hidden header title

  //* Header main section
  &__main {
    width: 100%;
    background-image: var(--gradient-primary);
    position: relative;

    @include respond(medium) {
      padding: 2rem 1rem;
    }

    //* Header share module
    & .share {
      display: grid;
      grid-template-columns: min-content;
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 1.5rem;
      position: absolute;
      right: 2.5rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;

      @include respond(medium) {
        grid-template-columns: repeat(4, min-content);
        grid-template-rows: none;
        grid-column-gap: 1.5rem;
        position: unset;
        margin: 3rem 0 5rem 0;
        justify-content: center;
        transform: none;
      }

      &__text {
        position: absolute;
        pointer-events: none;
        user-select: none;
        font-family: $font-primary;
        font-weight: 300;
        font-size: $font-icon-title;
        left: -7rem;
        padding: 2px;
        opacity: 0;
        writing-mode: vertical-lr;
        text-orientation: upright;
        border: 1px solid var(--color-white);
        color: var(--color-white);
        top: 50%;
        transform: translateY(-50%);
        transition: left 0.4s ease-in-out, opacity 0.3s ease-in-out;

        @include respond(small) {
          display: none;
        }
      }

      &:hover .share__text {
        left: -3.3rem;
        opacity: 0.85;
      }

      &__link {
        display: grid;
        place-content: center;

        @include respond(med-small) {
          border: 1px solid var(--color-white);
          border-radius: 50%;
          padding: 5px;
          height: 4rem;
          width: 4rem;
        }
      }

      &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-white);
        transition: transform 0.5s cubic-bezier(0, 1.87, 0.83, 0.67);

        @include respond(medium) {
          height: 4rem;
          width: 4rem;
        }

        &:hover {
          transform: scale(1.5);

          @include respond(med-small) {
            transform: scale(1.2);
          }
        }
      }
    } //. Header share module
  } //. Header main section
} //. Header Home page overall styles

//* Header general pages overall styles
.general {
  .header {
    &__general {
      text-align: center;
      color: var(--color-white);
      padding: 10rem 0;

      @include respond(medium) {
        padding: 5rem 0;
      }
    }

    &__heading {
      font-size: 7rem;
    }
  }
} //* Header general pages overall styles
