//* Navigation overall styles
.nav {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  list-style: none;
  align-items: center;
  gap: 2rem;

  //* is current link style
  .is-current-link {
    color: var(--color-blue-primary) !important;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      background: var(--color-blue-primary);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 100%;
    }
  } //. is current link style

  //* Link styles
  &__link {
    &:link,
    &:visited,
    &:active {
      color: var(--color-charcoal);
      font-size: 1.6rem;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      position: relative;

      @include respond(medium) {
        font-size: 2.5rem;
      }
    }
    // Underline hover from middle
    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: var(--color-blue-primary);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    } //. Underline hover from middle

    &:hover {
      color: var(--color-blue-primary);
    }
  } //. Link styles

  &__item &__link {
    text-decoration: none;
  }

  &__item:last-of-type {
    margin-right: 2.5rem; // Remove right margin on all list items except last

    @include respond(large) {
      margin-right: 0;
    }
  }

  &___cta {
  }
  //* If menu item is clicked these styles are added
  &--is-visible {
    max-height: 50rem !important;
    margin-bottom: 5rem;
  } //. If menu item is clicked these styles are added

  @include respond(medium) {
    grid-template-rows: repeat(7, max-content);
    grid-row-gap: 4rem;
    grid-template-columns: max-content;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }
} //* Navigation overall styles
