.mobile-nav {
  display: none;
  font-family: $font-primary;

  @include respond(medium) {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: var(--color-white);
    height: 7rem;
    width: 7rem;
    top: 2rem;
    position: absolute;
    right: 4vw;
    border-radius: 3px;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    box-shadow: none;

    &--is-scrolled {
      box-shadow: var(--shadow-large-light);
      position: fixed !important;
      top: 3rem !important;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 2.5rem;
    right: 4.5vw;
    background-image: var(--gradient-primary);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    &--is-scrolled {
      box-shadow: var(--shadow-large-light);
      position: fixed !important;
      top: 3.5rem !important;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    //Hide navigation
    opacity: 0;
    width: 0;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 4rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: var(--color-white);
      text-decoration: none;
      text-transform: uppercase;
      //Slanted solid gradient
      background-image: linear-gradient(
        120deg,
        transparent,
        transparent 50%,
        var(--color-white) 50%
      );
      //Gradient hidden off element
      background-size: 230%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      //Gradient slides in on hover
      background-position: 100%;
      color: var(--color-blue-primary);
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(60);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    //Base styles for all three icon lines
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
      border-radius: 1px;
      background-color: var(--color-blue-primary);
      display: inline-block;
    }

    //Content must be set empty for sudo elements
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    //Individual positioining for 1st and 3rd icon lines
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  //When checkbox is selected --> slecte its sibling, then select the buttons child (icon) then remove middle icon line
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  //Rotate top icon line on menu click
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  //Rotate bottom icon line on menu click
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

//* Navigation overall styles
.nav {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  list-style: none;
  align-items: center;
  gap: 2rem;

  //* is current link style
  .is-current-link {
    color: var(--color-blue-primary) !important;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      background: var(--color-blue-primary);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 100%;
    }
  } //. is current link style

  //* Link styles
  &__link {
    &:link,
    &:visited,
    &:active {
      color: var(--color-charcoal);
      font-size: 1.6rem;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      position: relative;

      @include respond(medium) {
        font-size: 2.5rem;
      }
    }
    // Underline hover from middle
    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: var(--color-blue-primary);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    } //. Underline hover from middle

    &:hover {
      color: var(--color-blue-primary);
    }
  } //. Link styles

  &__item &__link {
    text-decoration: none;
  }

  &__item:last-of-type {
    margin-right: 2.5rem; // Remove right margin on all list items except last

    @include respond(large) {
      margin-right: 0;
    }
  }

  &___cta {
  }
  /* If menu item is clicked these styles are added
  &--is-visible {
    max-height: 50rem !important;
    margin-bottom: 5rem;
  } */ //. If menu item is clicked these styles are added

  @include respond(medium) {
    //grid-template-rows: repeat(7, max-content);
    //grid-row-gap: 4rem;
    //grid-template-columns: max-content;
    //text-align: center;
    //max-height: 0;
    //overflow: hidden;
    //transition: max-height 0.3s ease-in;
    display: none;
  }
} //* Navigation overall styles
